/* CSS Document */
html, body
{
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 100%;
  width: 100%;
}

table.all
{
  width:100%;
  height:100%;
}

img
{
  border:0px;
  aligh : center;
}

a
{
 color:#213e79;
 font-family: Verdana;
 font-size:11px;
 text-decoration:underline;
}

td
{
  font-weight: normal;
  font-family: verdana;
  font-style: normal;
  text-decoration: none;
  font-size: 12px;
  color: #333333;  
}

td.bg_start {background:url(/img/md_bg_start.gif) repeat-x top;}
td.bg_menu_top {background:url(/img/md_bg_menu_top.gif) repeat-x;}
td.bg_sigla {background:url(/img/md_bg_sigla.gif) repeat-x bottom; }
td.bt_top_bottom {background:url(/img/md_bt_top_bottom.gif) repeat-x;}
td.bg_menu {background:url(/img/md_bg_menu.gif) no-repeat top;}
td.bg_meniu_line {background:url(/img/md_bg_meniu_line.gif) repeat-x;}
td.bg_turism {background:url(/img/md_bg_turism.gif) no-repeat top;}
td.bg_investiti {background:url(/img/md_bg_investiti.gif) no-repeat top;}
td.bg_despremoldova {background:url(/img/md_bg_despremoldova.gif) repeat-x top;}
td.bg_pagetitle {background:url(/img/md_bg_pagetitle.jpg) repeat-x top;}
td.bg_valute {background:url(/img/md_bg_valute.gif) no-repeat top;}
td.bg_valute_line {background:url(/img/md_bg_line_sur.gif) repeat-x bottom;}
td.bg_search_title {background:url(/img/md_bg_search_title.gif) repeat-x;}


table.middle_left
{
 border: 1px #bacad5 solid; 
 padding: 3px 3px 3px 3px;
 height:100%;
}

table.turism_1
{
 border: 1px #d6dfe6 solid; 
 padding: 5px 4px 5px 4px;
}

table.turism_2
{
 border: 1px #d6dfe6 solid; 
 padding: 1px 1px 1px 1px;
}

table.investiti
{
 border: 1px #d6dfe6 solid; 
 padding: 6px 6px 7px 5px;
}
table.baners
{
 border: 1px #d6dfe6 solid; 
 padding: 4px 4px 4px 4px;
}
table.tpl_news
{
 border: 1px #bacad5 solid; 
 padding: 3px 4px 10px 4px;
 height:100%;
 width:100%;
}

table.tright
{
 border: 1px #bacad5 solid; 
 padding: 3px 4px 3px 4px;
}

table.tright_meteo
{
 border: 1px #bacad5 solid; 
 padding: 4px 4px 4px 4px;
 height:100%;
}

table.news_1
{
 border: 1px #d6dfe6 solid; 
 padding-left: 10px; 
 padding-right: 10px; 
}

table.news_2
{
 border: 0px; 
 padding-left: 10px; 
 padding-right: 10px; 
}


table.menu
{
 border: 1px #d6dfe6 solid; 
}

a.menu_top
{
  color:#FFFFFF;
  font-family: Verdana;
  font-size:11px;
  text-decoration:none;
}

a.news_title
{
  color:#004688;
  font-family: Verdana;
  font-size:12px;
  text-decoration:none;
  font-weight: bold;
}

a.lang
{
  color:#5a8bbd;
  font-family: Verdana;
  font-size:10px;
  text-decoration:none;
}


a.archart_title
{
 color:#ffffff;
 font-family: Verdana;
 font-size:11px; 
 font-weight: bold;
 
}

a.archart_title_2
{
 color:#004688;
 font-family: Verdana;
 font-size:11px; 
 font-weight: bold;
 text-decoration:none;
}

a.lang_sel
{
  color:#1B3F9F;
  font-family: Verdana;
  font-size:10px;
  text-decoration:underline;
}

a.menu
{
  color:#1B3F89;
  font-family: Verdana;
  font-size:12px;
  text-decoration:none;
  font-weight: none;
}

a.menu_sel
{
  color:#1B3F89;
  font-family: Verdana;
  font-size:12px;
  text-decoration:none;
  font-weight: bold;
}

a.sub_menu
{
  color:#1B3F89;
  font-family: Verdana;
  font-size:11px;
  text-decoration:none;
}

a.sub_menu_sel
{
  color:#1B3F89;
  font-family: Verdana;
  font-size:11px;
  text-decoration:none;
  font-weight: bold;
}

a.tr_menu
{
  color:#023f77;
  font-family: Verdana;
  font-size:10px;
  text-decoration:none;
}

a.tr_menu_sel
{
  color:#023f77;
  font-family: Verdana;
  font-size:10px;
  text-decoration:none;
  font-weight: bold;
}

a.news_r_title
{
  color:#023f77;
  font-family: Verdana;
  font-size:11px;
  text-decoration:none;
  font-weight: bold;
}

a.news_r_date
{
  color:#7d7d7d;
  font-family: Verdana;
  font-size:10px;
  text-decoration:none;
}

a.news_preview
{
  color:#333333;
  font-family: Verdana;
  font-size:11px;
  text-decoration:none;
}

a.details
{
  color:#1745ad;
  font-family: Verdana;
  font-size:11px;
  text-decoration:underline;
}

span.last_change
{
  color:#1B3F89;
  font-family: Verdana;
  font-size:12px;  
}

 
a.menu_buttom
{ 
color:#023f77;
  font-family: Verdana;
  font-size:10px;
  text-decoration:none;
}

span.datetime
{
  color:#9cb3c6;
  font-family: Verdana;
  font-size:11px;
}

span.date
{
  color:#ffffff;
  font-family: Verdana;
  font-size:11px;
}

span.form_search
{
  color:#003264;
  font-family: Verdana;
  font-size:11px;
}

span.copyrights
{
  color:#7e9bb7;
  font-family: Verdana;
  font-size:10px;
}

span.pagetitle
{
  color:#003961;
  font-family: Verdana;
  font-size:12px;
  font-weight: bold;
}

span.valute_charcode
{
  color:#023f77;
  font-family: Arial;
  font-size:11px;
  font-weight: bold;
}

span.valute_value
{
  color:#5c5c5c;
  font-family: Verdana;
  font-size:11px;
}

input.search
{
 font-family: Verdana;
 font-size: 13px;
 height: 20px;
 width:  178px;
 color: #000000; 
 background: #ffffff;
 vertical-align: middle;
 border: 1px solid #b9c8d3;
}

input.bttn_search
{
 font-family: Verdana;
 font-weight: bold;
 color: #FFFFFF;
 font-size: 11px; 
 height: 18px;
 border: 0px; 
 background: #7b96a9;
}

span.path
{
 font-family: Verdana;
 color: #aaaaaa;
 font-size: 10px; 
}

form
{
 padding: 0;
 margin: 0;
}